@tailwind base;
@tailwind components;
@tailwind utilities;

.user-drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  box-shadow: inset 0 0 20px 20px rgba(143, 178, 245, 0.3);
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply relative h-full font-nunito antialiased;
  }
  main#root {
    @apply relative flex min-h-screen flex-col;
  }
}
@layer components {
  .location-heading {
    @apply mx-auto w-max select-none text-heading-xs transition-[font-size] sm:text-heading-sm md:text-heading-md;
  }
  .weather-heading {
    @apply select-none text-heading-xs transition-[font-size] sm:text-heading-sm md:text-heading-md;
  }
  .weather-article-heading {
    @apply text-heading-xl transition-[font-size] sm:text-6xl;
  }
  .weather-card {
    @apply w-[359px] max-w-full transition-[width] sm:w-full;
  }
}
